:root {
    --base-color: #4CD4AC;
    --terminal-color: #2B3E50;
    --code-color: #F8F8F1;
    --header-color: #444;
    --gradient-color: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
    --button-background-color: #4CD4AC;
}

/** Copy styles from Gluon Docs **/
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    color: rgba(0,0,0,.8);
}

h1, h2, h3 {
    font-family: "Open Sans","DejaVu Sans",sans-serif;
    font-weight: 300;
    font-style: normal;
    text-rendering: optimizeLegibility;
    letter-spacing: -.01em;
    line-height: 1.2;
    word-spacing: -.05em;
    color: var(--header-color);
}

h1 {
    font-size: 2.75em;
    margin-bottom: 40px;
}

pre {
    white-space: pre-wrap;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--terminal-color);
    border-radius: 5px;
}

code {
    color: var(--code-color) !important;
}

kbd {
    background-color: var(--terminal-color);
    white-space:nowrap;
    color: var(--code-color);
}

p {
    font-family: inherit;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    text-rendering: optimizeLegibility;
}

a,
a:visited {
    color: var(--base-color);
}

/** Header **/
.top-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: var(--base-color);
    z-index: 10000;
    overflow: hidden;
}

.top-menu ul li {
    display: inline;
    list-style: none;
    margin-right: 3em;
    line-height: 56px;
    font-size: 1em;
}

.top-menu ul li a, .top-menu ul li a:hover {
    color: white;
    text-decoration: none;
}

.top-menu ul li a.active, .top-menu ul li a.active:hover {
    font-weight: bolder;
    padding: 10px 20px 10px 20px;
    background-color: #074b78;
}

.top-menuph {
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #0A6DB0;
}

.navbar {
    background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%) !important;
    height: 70px;
}

.navbar-brand {
    color: #ffffff !important;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 40px;
    font-weight: 300;
}

.content img {
    margin-bottom: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

img.hello-world {
    border: 1px solid #002B36;
    height: 400px;
    width: 214px;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-fluid > .container {
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn-toolbar {
    justify-content: center;
}

.btn-toolbar.bottom {
    padding-top: 25px;
    padding-bottom: 25px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: var(--button-background-color) !important;
    border-color: var(--button-background-color) !important;
    color: #ffffff;
}

/*No side nav when width is below 768px*/
@media (max-width: 768px) {
    .sidenav {
        display: none;
    }
}

.list-group-item,
.list-group-item:visited {
    padding: .25rem 1.25rem;
    border: inherit;
    color: #444;
}

.list-group-item.active {
    background-color: white;
    color: var(--base-color);
    border-left: 3px solid var(--base-color);
    margin-left: 10px;
    padding-left: 7px;
}


.list-group-item:first-child {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.list-group-item:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

/** SubMenu **/
.list-group-item.sub-item {
    padding-left: 40px;
}

.list-group-item.active.sub-item {
    padding-left: 27px;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #16181b;
    background-color: transparent;
}